@{
    ViewBag.Title = "Other Code Project Articles by Mark Caplin";
}

    <h4>Other Code Project Articles by Mark Caplin</h4>

    <div class="hero-unit" >

        <table>
            <tr><td><a href="http://www.codeproject.com/Articles/305308/MVC-Techniques-with-JQuery-JSON-Knockout-and-Cshar">MVC Techniques with jQuery, JSON, Knockout, and C#</a></td></tr>
            <tr><td><a href="http://www.codeproject.com/Articles/173623/Test-Driving-NHibernate-3-0-LINQ-and-the-Entity-Fr">Test Driving NHibernate 3.0, LINQ and the Entity Framework CTP 5 with the Abstract Factory Design Pattern</a></td></tr>
        </table>

    </div>