@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <img src="~/img/logo.jpg" style="display: block;margin-left: auto;margin-right: auto;" />
    <img src="~/img/banner-01.jpg" style="display: block;margin-left: auto;margin-right: auto;" />
    <!--<p><a href="http://judieconstructions.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>
<div class="row">
    <div class="span4">
        <h2>Welcome to our Judie Constructions</h2>
        <p>Judie Constructions (P) Ltd, is an ISO 9001:2008 Certified company. Provides the essential Structural Engineering design support for today's concepts in Architectural designs. We have a team of well qualified and experienced professionals to handle any kind of structural design for large construction projects. Our company has more than four decades of experience in analysis...</p>
        <p><a class="btn" href="http://judieconstructions.com/">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Infrastructure</h2>
        <p>We are backed with world-class infrastructure and modern technology. Our motto is to provide high quality designing concept and consultant services, so we have hired the highly experienced and skilled professionals to efficiently perform their jobs. We not only provide a high standard of design and consultancy services but are also involve with the customers...
        </p>
        <p><a class="btn" href="http://judieconstructions.com/">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>News & Events</h2>
        <ol>ISO 9001:2008 Certified.</ol>
        <ol>Mauro's Farm at ECR Road, Chennai.</ol>
        <ol>Temple Nest on the National Highway NH-4, Bye Pass Road, Sriperumbudur.</ol>
        <ol>Santhome Community Service Centre Ground floor and First Floor at Santhome, Chennai-4.</ol>
        <ol>Hostel & Tailoring Centre at School for the Blind and Deaf at G.N.Chetty Road, Chennai.</ol>
        <ol>St. Sebastian Industrial Training Institute at Madhavaram.</ol>
        <ol>Hostel Block and Boys I.T.I at Madhavaram, Chennai.</ol>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>